* {
  margin: 0;
  padding: 2px;
  box-sizing: border-box;
}

main {
  text-align: center;
}

body {
  font-family: "montserrat", sans-serif;
  background-color: black;
}
header h1 {
  text-align: center;
}
section {
  padding: 15px;
}

.searchbox {
  display: block;
  width: 100%;
  padding: 15px;

  border-color: black;
  outline: none;
  outline: none;

  border-radius: 10px;
  transition: 0.4s ease-out;
}

.searchbox:focus {
  box-shadow: 0px 5px 3px rgb(36, 9, 14);
}

main {
  text-align: center;
}
section {
  background-color: rgba(8, 8, 8, 0.932);
  border: black 1px dotted;
}

/* searchBar  */

.searchBar {
  padding: 2rem 1rem;
}
.searchBar {
  font-size: 1.2rem;
}
.search__results {
  width: 100%;
}
